@tailwind base;
@tailwind components;
@tailwind utilities;

.masonry {
  column-count: 3;
  column-gap: 2rem;
}

@screen 2xl {
  .masonry {
    column-count: 1 !important;
    background-color: red;
  }
}
